// global variables

$version:               '1.0.3';
$bg-light:              #f3f3f1;
$bg-dark:               #21252b;
$border-light:          #fff;
$border-dark:           #353b45;
$font-color-navy:       #002953;
$font-color-navier:     #032140;
$font-color-gray:       #d6d7df;
$font-color-white:      #fff;
$font-family-base:      -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$font-size-base:        16px;
$link-tb-normal:        #0069ff;
$link-tb-dark:          #29baff;
$link-gh-normal:        #24292e;
$link-gh-dark:          #f1f1f1;
$link-blog-normal:      #736be3;
$link-blog-dark:        #9690ea;
$link-gitea-normal:     #1bc47d;
$link-gitea-dark:       #87b081;
$link-pf-normal:        #66cccc;
$link-pf-dark:          #78c2c3;
$screen-mobile:         640px;
$screen-tablet:         768px;
$screen-laptop:         1024px;
$screen-display:        1280px;
$screen-full:           1440px;
